.defaultRadio,
.alphabet {
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);
  cursor: pointer;
}

.fieldset {
  counter-reset: options;
  border: none;
  padding: 0;
  margin: 0;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.circle {
  border-radius: 50%;
  transition: background-color var(--transition1);
}

.defaultRadio {
  & .circle {
    width: var(--space-24);
    height: var(--space-24);
    background-color: var(--color-white);
    box-shadow: inset 0 0 0 6px var(--color-white);
    border: 2px solid var(--color-primary-20);
    transition:
      box-shadow var(--transition1);
  }

  &:hover .circle {
    background-color: var(--color-primary);
    box-shadow: inset 0 0 0 6px var(--color-primary-20);
  }
}

.alphabet {
  counter-increment: options;
  padding: var(--space-24);
  border-radius: var(--space-4);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);

  &:hover {
    background-color: var(--color-primary-10);
    border-color: var(--color-primary-50);
  }

  & > .radio > .circle {
    width: var(--space-40);
    height: var(--space-40);
    background-color: var(--color-neutral-20);
    font-size: var(--font-size-sm);
    font-weight: var(--font-bold);
    display: grid;
    place-items: center;
  }
}

:is(.defaultRadio) {
  & input:checked ~ .circle {
    box-shadow: inset 0 0 0 4px var(--color-white);
    border: 2px solid var(--color-primary);
  }
}

:is(.alphabet) {
  & input:checked ~ .circle {
    color: var(--color-white);
  }

  & > .radio > .circle::before {
    content: counter(options, upper-alpha); /* A, B, C… */
  }   
}

:is(.defaultRadio, .alphabet) {
  & input:checked ~ .circle {
    background-color: var(--color-primary);
  }

  & .input:focus-visible ~ .circle {
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
  }

  & .input:disabled ~ .circle {
    cursor: not-allowed;
  }

  &:has(input:disabled) {
    cursor: not-allowed;
    opacity: 0;
  }
}

:is(.alphabet):hover {
  .radio > .circle {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}
