.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  padding-inline: var(--space-32);
  margin-inline: auto;
  max-width: var(--viewport-desktop);

  @media (width >= 768px) {
    padding-inline: var(--space-44);
  }

  @media (width >= 1920px) {
    padding-inline: var(--space-64);
  }
}

.header {
  color: var(--color-black);
}
