.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: var(--space-4xl);
  border-radius: var(--space-xs);
  box-shadow: var(--box-shadow);
  transition:
    background-color,
    opacity var(--transition1);
    
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completed {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;

  &:hover {
    opacity: 0.5;
  }
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover {
    opacity: 1;
    background-color: var(--color-primary-40);
  }  
}

.primary .description {
  color: var(--color-primary-10);
}

.title {
  margin-bottom: var(--text-xl);
  font-size: var(--text-xl);
}



.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-sm);
  margin-top: auto;
}

.card:hover button,
.card:hover a {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.result:hover button {
  color: var(--color-primary-20);
}
