.navList {
  display: flex;
  list-style: none;
  padding-inline: var(--space-32);
  padding-block: var(--space-8);
}

.navLink {
  padding-inline: var(--space-20);
  padding-block: var(--space-8);
  line-height: 1;
  text-box: trim-both cap text;
  transition: color var(--transition1);
  z-index: 1000;
  position: relative;
}

.navLink:hover {
  anchor-name: --active-link;
  color: var(--color-primary);
}

.highlightItem {
  display: contents;
}

.navHighlight {
  position: absolute;
  background-color: var(--background);
  border-radius: var(--border-radius-full);
  left: anchor(--active-link left);
  top: anchor(--active-link top);
  width: anchor-size(--active-link width);
  height: anchor-size(--active-link height);
  pointer-events: none;
  z-index: 0;
  opacity: 0;
  transition:
    top var(--transition1),
    left var(--transition1),
    width var(--transition1),
    height var(--transition1),
    opacity var(--transition2);
}

.navList:has(.navLink:hover) .navHighlight {
  opacity: 1;
}

.active {
  color: var(--color-primary);
}
