.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--color-white);
  padding-block: var(--space-12);

  @media (width >= 1024px) {
    padding-block: var(--space-16);
  }
}

.headerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-12);
}

.logoIcon {
  min-width: var(--space-44);
  height: var(--space-44);
}

.logoText {
  font-family: var(--font-plus-jakarta-sans);
  font-size: var(--text-lg);
  color: var(--color-primary);
  font-weight: var(--font-bold);
}

.navList {
  display: flex;
  list-style: none;
  padding-inline: var(--space-32);
  padding-block: var(--space-8);
}

.navLink {
  padding-inline: var(--space-20);
  padding-block: var(--space-8);
  line-height: 1;
  text-box: trim-both cap text;
  transition: color var(--transition1);
  z-index: 1000;
  position: relative;
}

.navLink:hover {
  anchor-name: --active-link;
  color: var(--color-primary);
}

.navHighlight {
  position: absolute;
  background-color: var(--background);
  padding-inline: var(--space-32);
  padding-block: var(--space-8);
  border-radius: var(--border-radius-full);
  left: anchor(--active-link left);
  top: anchor(--active-link top);
  width: anchor-size(--active-link width);
  height: anchor-size(--active-link height);
  pointer-events: none;
  z-index: 0;
  opacity: 0;
  transition:
    top var(--transition1),
    left var(--transition1),
    width var(--transition1),
    height var(--transition1),
    opacity var(--transition2);
}

.navList:has(.navLink:hover) .navHighlight {
  opacity: 1;
}
