.footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--text-sm);
  background-color: var(--color-black);
  color: var(--color-white);
  padding-inline: var(--space-32);
  padding-block: var(--space-16);
  margin-top: auto;
  max-width: 70%;
  position: absolute;
  left: 0;
  bottom: 0;

  @media (width >= 768px) {
    padding-inline: var(--space-44);
  }

  @media (width >= 1920px) {
    max-width: 50%;
  }
}

.links {
  display: flex;
  gap: var(--space-8);
}
